@media (min-width: 655px) {
  .Popular,
  .Deals {
    grid-template-columns: repeat(2, 1fr);
    max-width: 400px;
  }

  .logo img {
    width: 100px;
  }

  .welcome__content {
    font-size: 12px;
  }

  .welcome {
    min-height: 50vh;
  }
}

@media (min-width: 814px) {
  .Popular,
  .Deals {
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    gap: 80px 80px;
    margin: 50px auto 100px auto;
  }
  .Popular__h2,
  .Deals__h2 {
    max-width: 800px;
  }

  .fa-bars {
    padding-right: 30px;
  }

  .fa-shopping-cart {
    padding: 0px 15px;
  }

  .log-in {
    padding-right: 40px;
  }

  .search-box {
    width: 350px;
  }
  .welcome__content {
    top: 100px;
  }

  .social {
    display: inline;
    color: var(--nav-elements);
    position: absolute;
    right: 40px;
    font-size: 25px;
  }

  hr {
    max-width: 800px;
  }

  .search-box-sell {
    width: 800px;
  }

  .receipt {
    max-width: 800px;
  }

  .form {
    max-width: 800px;
  }

  .payment {
    max-width: 800px;
  }

  .payment-form {
    max-width: 800px;
  }

  .product {
    flex-direction: row;
    align-items: unset;
    max-width: 800px;
  }

  .product-image > img {
    margin-bottom: 0px;
  }

  .logo img {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  .grid-order {
    grid-template-columns: repeat(2, 13fr);
  }

  .Sell-game-info {
    display: flex;
  }

  .price {
    top: 412px;
  }
}

@media (min-width: 1470px) {
  .Popular,
  .Deals {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1100px;
    gap: 0px 80px;
    margin: 50px auto 100px auto;
  }
  .Popular__h2,
  .Deals__h2 {
    max-width: 1100px;
  }

  .icons {
    display: inline;
  }

  header nav,
  nav li {
    display: inline-block;
    position: static;
  }

  header label {
    display: none;
  }

  .login > .fa-user-alt {
    display: inline;
  }

  .search-box {
    width: 500px;
  }

  .welcome__content {
    top: 150px;
  }

  hr {
    max-width: 1100px;
  }

  .search-box-sell {
    width: 1100px;
  }

  .categories {
    display: flex;
    flex-direction: row;
    gap: 140px;
  }

  .receipt {
    max-width: 1100px;
  }

  .form {
    max-width: 1100px;
  }

  .payment {
    max-width: 1100px;
  }

  .payment-form {
    max-width: 1100px;
  }

  .product {
    max-width: 1100px;
  }

  .welcome {
    min-height: 70vh;
  }
}
