@media (min-width: 935px) {
  .Popular,
  .Deals {
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    gap: 80px 80px;
    margin: 50px auto 100px auto;
  }
  .Popular__h2,
  .Deals__h2 {
    max-width: 800px;
  }

  .search-box {
    width: 350px;
  }
  .welcome__content {
    top: 100px;
  }

  .social {
    display: inline;
    color: var(--nav-elements);
    position: absolute;
    right: 40px;
    font-size: 25px;
  }

  hr {
    max-width: 800px;
  }

  .search-box-sell {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .grid-order {
    grid-template-columns: repeat(2, 13fr);
  }
}

@media (min-width: 1436px) {
  .Popular,
  .Deals {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1100px;
    gap: 0px 80px;
    margin: 50px auto 100px auto;
  }
  .Popular__h2,
  .Deals__h2 {
    max-width: 1100px;
  }

  .icons {
    display: inline;
  }

  header nav,
  nav li {
    display: inline-block;
    position: static;
  }

  header label {
    display: none;
  }

  .login > .fa-user-alt,
  .Create-an-account {
    display: inline;
  }

  .search-box {
    width: 500px;
  }

  .welcome__content {
    top: 150px;
  }

  hr {
    max-width: 1100px;
  }

  .search-box-sell {
    width: 1100px;
  }

  .categories {
    display: flex;
    flex-direction: row;
    gap: 140px;
  }
}
