@font-face {
  font-family: "Montserrat";
  src: url(../Fonts/Montserrat-Regular.ttf) format("truetype");
}

/*Global-styles*/

h1 {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
}

header,
footer {
  background-color: #1d2540;
  width: cover;
}

a {
  color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header li {
  display: inline-block;
  font-size: 25px;
  padding: 15px;
}

footer li {
  display: inline-block;
  font-size: 25px;
  padding: 15px;
}

header,
footer {
  display: flex;
  align-items: center;
}

/*Links*/

.add-to-cart {
  background-color: #1d2540;
  color: #f2f2f2;
  border-radius: 30px;
  padding: 10px 30px;
}

a {
  text-decoration: none;
  padding: 20px;
}

/*Home-page*/

.welcome {
  background-image: url(../images/Fifa.jpg);
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.welcome__content {
  position: absolute;
  text-align: center;
  color: #1d2540;
  top: 150px;
}

.Popular,
.Deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: auto;
  grid-gap: 0px 80px;
  margin: 50px auto;
}

.Popular__Products,
.Deals__Products {
  text-align: center;
}

.Popular h2,
.Deals h2 {
  grid-column: -1/1;
}

.Popular img,
.Deals img {
  width: 100%;
  min-width: auto;
}

.Popular p,
.Deals p {
  background-color: #1d2540;
  text-align: center;
  color: #f2f2f2;
  padding: 10px;
  margin-top: 5px;
}
