@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "Montserrat";
  src: url(../Fonts/Montserrat-Regular.ttf) format("truetype");
}

/*Global-styles*/

.current {
  background-color: var(--nav-elements);
  color: var(--header-footer-color);
  border-radius: 30px;
}

h1 {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
}

header,
footer {
  background-color: var(--header-footer-color);
  width: cover;
  display: flex;
  align-items: center;
  position: relative;
}

body {
  min-height: 100vh;
  background-color: var(--nav-elements);
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px auto;
  padding: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header li,
footer li {
  display: block;
  font-size: 25px;
  padding: 20px 40px;
}

footer li {
  display: inline-block;
}

header nav {
  display: none;
  position: fixed;
  top: 95px;
  background: var(--header-footer-color);
  z-index: 1000;
  left: 0px;
}

#Hamburger:checked ~ nav {
  display: block;
}

#Hamburger {
  display: none;
}

.fa-bars {
  color: var(--nav-elements);
  font-size: 25px;
  padding-right: 30px;
}

.social {
  display: none;
}

.fa-twitter {
  padding: 20px;
  font-size: 25px;
}

.search-box > a {
  color: var(--header-footer-color);
  padding-left: 5px;
}

.search-box > input {
  flex: 1;
  height: 30px;
  width: 20px;
  border: none;
  outline: none;
  background-color: var(--nav-elements);
}

.fa-shopping-cart {
  color: var(--nav-elements);
  font-size: 25px;
  padding: 0px 15px;
}

.fa-user-alt {
  color: var(--header-footer-color);
  font-size: 25px;
  background-color: var(--nav-elements);
  background-size: 100px;
  padding: 10px 10px;
  border-radius: 50%;
  margin-left: 30px;
}

.login > .fa-user-alt {
  display: none;
}

.log-in {
  padding-right: 40px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.Create-an-account {
  position: absolute;
  color: #1c8adb;
  font-size: 13px;
  top: 65px;
  right: 75px;
  display: none;
}

.search-box {
  position: relative;
  width: 200px;
  height: 30px;
  background-color: var(--nav-elements);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0px auto;
}

hr {
  border: 1px solid;
  max-width: 500px;
}
